.login-div{
    padding-top:12%;
    padding-left: 20%;
    padding-right: 20%;
}
.main-content{
    margin-top:2%;
    padding-left: 2%;
    padding-right: 2%;
}
.info-user{
    padding-left: 30%;
    padding-right: 30%;
}